services:
  backend:
    build:
      context: ./server
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    networks:
      - merndocker

  frontend:
    build:
      context: ./client
      args:
        VITE_AUTH0_DOMAIN: ${VITE_AUTH0_DOMAIN}
        VITE_AUTH0_CLIENT_ID: ${VITE_AUTH0_CLIENT_ID}
        VITE_AUTH0_AUDIENCE: ${VITE_AUTH0_AUDIENCE}

    ports:
      - "5173:80"
    networks:
      - merndocker
    env_file:
      - ./client/.env

networks:
  merndocker:
    driver: bridge